{% extends "layouts/default.html" %}

{% block imports %}
{% endblock %}

{% block content %}
{% let name = addressbook.displayname.to_owned().unwrap_or(addressbook.id.to_owned()) %}
<h1>{{ name }}</h1>
{% if let Some(description) = addressbook.description %}<p>{{ description }}</p>{% endif%}

<pre>{{ addressbook|json }}</pre>

<h2>Delete</h2>

<section>
  <form method="POST" action="/frontend/user/{{addressbook.principal}}/addressbook/{{addressbook.id}}/delete">
    <button type="submit">Move to trash</button>
  </form>
</section>

{% endblock %}
