{% extends "layouts/default.html" %}

{% block imports %}
{% endblock %}

{% block content %}
{% let name = calendar.displayname.to_owned().unwrap_or(calendar.id.to_owned()) %}
<h1>{{ calendar.principal }}/{{ name }}</h1>
{% if let Some(description) = calendar.description %}<p>{{ description }}</p>{% endif%}

{% if let Some(subscription_url) = calendar.subscription_url %}
<h2>Subscription URL</h2>
<a href="{{ subscription_url }}">{{ subscription_url }}</a>
{% endif %}

<h2>Components</h2>
<ul>
  {% for comp in calendar.components %}
  <li>{{ comp.as_str() }}</li>
  {% endfor %}
</ul>

<h2>Timezone</h2>

{% if let Some(timezone_id) = calendar.timezone_id %}
<p>{{ timezone_id }}</p>
{% endif %}
{% if let Some(timezone) = calendar.timezone %}
<textarea rows="16" readonly>{{ timezone }}</textarea>
{% endif %}


<pre>{{ calendar|json }}</pre>
{%endblock %}
