{% extends "layouts/default.html" %}

{% block imports %}
{% endblock %}

{% block content %}
{% let name = calendar.meta.displayname.to_owned().unwrap_or(calendar.id.to_owned()) %}
<h1>
  {{ calendar.principal }}/{{ name }}
  <div class="component-chips">
    {% for comp in calendar.components %}
    <span class="chip">{{ comp }}</span>
    {% endfor %}
  </div>

</h1>
{% if let Some(description) = calendar.meta.description %}<p>{{ description }}</p>{% endif%}

{% if let Some(subscription_url) = calendar.subscription_url %}
<h2>Subscription URL</h2>
<a href="{{ subscription_url }}">{{ subscription_url }}</a>
{% endif %}

<h2>Debug information</h2>
<pre>{{ calendar|json(2) }}</pre>

{%endblock %}
