{% extends "layouts/default.html" %}

{% block imports %}
<script type="module" src="/frontend/assets/js/create-calendar-form.mjs" async></script>
<script type="module" src="/frontend/assets/js/create-addressbook-form.mjs" async></script>
<script type="module" src="/frontend/assets/js/delete-button.mjs" async></script>
{% endblock %}

{% block content %}
<div id="page-user">

<h1>Welcome {{ user.id }}!</h1>

{% include "components/profile_section.html" %}
{% include "components/calendars_section.html" %}
{% include "components/addressbooks_section.html" %}

{% endblock %}

