<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}RustiCal{% endblock %}</title>
  <link rel="stylesheet" href="/frontend/assets/style.css" />
  <link rel="stylesheet" href="/frontend/assets/calendar.css" />
  {% block imports %}{% endblock %}
  <script type="module" src="/frontend/assets/js/theme-selector.mjs" async></script>
</head>
<body>
  <script>
    // apply the theme already here before the page is rendered
    // the theme selector component takes to long and leads flickering when it is loaded
    const savedTheme = localStorage.getItem("theme");
    console.log("saved theme", savedTheme);
    if (savedTheme) {
      document.body.className = savedTheme;
      document.documentElement.setAttribute("data-theme", savedTheme);
    }
  </script>
  {% block header %}
  <header>
      <a class="logo" href="/frontend/user">RustiCal</a>
      {% block header_center %}{% endblock %}
      <div>
        <form method="POST" action="/frontend/logout" class="logout_form">
          <button type="submit">Log out</button>
        </form>
        <theme-selector style="min-width: 100px;"></theme-selector>
      </div>
  </header>
  {% endblock %}
  <div id="app">
    {% block content %}<p>Placeholder</p>{% endblock %}
  </div>
  <footer>
      <a href="{{ env!("CARGO_PKG_REPOSITORY") }}" target="_blank">RustiCal {{ env!("CARGO_PKG_VERSION") }}</a>
      <a href="/frontend/assets/licenses.html" target="_blank">Open Source Licenses</a>
  </footer>
</body>
</html>
