<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}RustiCal{% endblock %}</title>
  <link rel="stylesheet" href="/frontend/assets/style.css" />
  {% block imports %}{% endblock %}
</head>

<body>
  {% block header %}
  <header>
      <a class="logo" href="/frontend/user">RustiCal</a>
      {% block header_center %}{% endblock %}
      <form method="POST" action="/frontend/logout" class="logout_form">
        <button type="submit">Log out</button>
      </form>
  </header>
  {% endblock %}
  <div id="app">
    {% block content %}<p>Placeholder</p>{% endblock %}
  </div>
</body>
<footer>
    <a href="{{ env!("CARGO_PKG_REPOSITORY") }}" target="_blank">RustiCal {{ env!("CARGO_PKG_VERSION") }}</a>
    <a href="/frontend/assets/licenses.html" target="_blank">Open Source Licenses</a>
</footer>
</html>
