<h2>{{ user.id }}'s Profile</h2>

{% let groups = user.memberships_without_self() %}
{% if groups.len() > 0 %}
<h3>Groups</h3>
<ul>
  {% for group in groups %}
  <li>{{ group }}</li>
  {% endfor %}
</ul>
{% endif %}

<h3>App tokens</h3>
<table id="app-tokens">
  <thead>
    <tr>
      <th>Name</th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for app_token in app_tokens %}
    <tr>
      <td><div class="shrink-cell">{{ app_token.name }}</div></td>
      <td>
        {% if let Some(created_at) = app_token.created_at %}
        {{ chrono_humanize::HumanTime::from(created_at.to_owned()) }}
        {% endif %}
      </td>
      <td>
        <form action="/frontend/user/{{ user.id }}/app_token/{{ app_token.id }}/delete" method="POST">
          <button type="submit" class="delete">Delete</button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<generate-app-token-form user="{{ user.id }}" />

{% if let Some(hostname) = davx5_hostname %}
<a href="intent://{{ hostname | urlencode }}#Intent;action=android.intent.action.VIEW;component=at.bitfire.davdroid.ui.setup.LoginActivity;scheme=davx5;package=at.bitfire.davdroid;S.loginFlow=1;end">Configure in DAVx5</a>
{% endif %}
